@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat';
}

.left-align {
  text-align: left;
}

h1 {
  font-family: 'Shrikhand';
  color: #ce8232;
  padding-bottom: 50px;
}

#nav-bar {
  height: 80px;
}

#nav-bar-links {
  font-size: large;
}

/**
# Citation for #home css
# Date: 10/12/2022
# Adapted from Stack Overflow: "Bootstrap image to fit screen"
# Source URL: https://stackoverflow.com/questions/1150163/stretch-and-scale-a-css-image-in-the-background-with-css-only
**/
#home {
  background: url(./images/homepgimg2.png);
  min-height : 100%;
  min-width : 100%;
  background-size:100% 100%;
  background-repeat:no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 800px;
}

#about {
  background-color: #fcf6f0;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

#spacer {
  background-color: #f8c691;
}

#box {
  width: auto;
  height: 100px;
  background: transparent;
  border: none;
}

#start {
  background-color: #f1f0f0;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.btn-reminder {
  background-color: #ce8232;
}

.map-container {
  height: 535px;
  width: auto;
  text-align: left;
}

#faq {
  background-color: #fcf6f0;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.faq-accordion {
  text-align: left;
}

.faq-qbox {
  padding-bottom: 500px;
}

#mapUI {
  height: 625px;
}

#mapUIHeader {
  font-size: x-large;
}

#reminder {
  height: 625px;
}

#reminderHeader {
  font-size: x-large;
}

#reminderSave {
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  background-color: #ce8232;
  border-color: #ce8232;
}

/**
# Citation for .footer and .bug css
# Date: 11/25/2022
# Adapted from Medium: "How to Position a Div Element Over and Relative to Another"
# Source URL: https://medium.com/programming-essentials/how-to-put-a-div-block-over-another-bae2b4579c8d
**/
.footer {
  position:relative;
  background-color: #737373;
  height: 175px;
}

.bug {
 position: absolute;
 top: -8rem;
 left: 65rem;
 width: 500px;
}

#contactInfo {
  text-align: left;
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 0px;
  font-family: 'Montserrat';
  font-weight: bolder;
  letter-spacing: 2px;
  color:whitesmoke
}

.footerInfo {
  text-align: left;
  padding-left: 30px;
  font-family: 'Montserrat';
  font-size: large;
  color:whitesmoke
}

.reference {
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: right;
  padding-right: 30px;
  color: white
}

p {
  text-align: justify;
  font-size: large;
}

#instructions {
  margin-left: 10%;
  height: 100%;
}

li {
  padding: 3px;
  text-align: left;
}